body {
  background-color: #181818;
}
.app {
  display: flex;
  flex-direction: column;
}
.app-header {
  background-color: #3a404b;
  color: #58fff9;
  padding: 6px;
  font-size: 16pt;
  flex: 1;
  display: flex;
  justify-content: center;
}
.app-body {
  flex: 1;
}
.data-table {
  width: 100%;
  color: #ddd;
  padding: 10px;
  border-bottom: #333 2px solid;
}
.data-table th {
  border-bottom: #2f2f2f 1px solid;
  padding: 5px;
}
